* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    caret-color: red;
}

.gnosis-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #22272e;
    height: 100%;
}

.gnosis-title {
    text-align: center;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    color: #BC1018;
}

.gnosis-title h1 {
    font-size: 60px;
    margin-bottom: 10px;
}


.gnosis-title p {
    font-weight: bolder;
    color: gray
}

.gnosis-search {
    width: 100%;
    max-width: 50%;
    background-color: white;
}

.gnosis-search-bar {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    border: none;
}

.gnosis-search-bar:active,
.gnosis-search-bar:focus {
    border: none;
    outline: none;
}

::placeholder {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.gnosis-search-results table {
    color: white;
}

.gnosis-footer {
    margin-top: auto;
    padding: 20px 0;
    color: gray;
    text-align: center;
}

.gnosis-footer a {
    color: gray;
    text-decoration: none;
}