* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    caret-color: red;
}

.gnosis-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: #11161C;
}

.gnosis-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px 0 60px;
}

.gnosis-title h1 {
    color: #1A960F;
    font-size: 64px;
    margin-bottom: 15px;
}

.gnosis-title p {
    font-size: 18px;
    color: white;
}

.gnosis-search {
    width: 100%;
    max-width: 60%;
}

.gnosis-search-bar {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    border: none;
    background-color: #0E1217;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}

.gnosis-search-bar:active,
.gnosis-search-bar:focus {
    border: none;
    outline: none;
}

::placeholder {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}

.gnosis-search-results {
    width: 100%;
    max-width: 60%;
    margin-top: 30px;
    background-color: #0E1217;
}

table {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.PaddingRow,
.PaddingRowBottom {
    padding: 15px 0;
    border: 1px solid blue;
}

.TableClass {
    padding: 0 20px;
    color: white;
}


.gnosis-footer {
    margin-top: auto;
    padding: 20px 0;
    color: gray;
    text-align: center;
}

.gnosis-footer a {
    color: gray;
    text-decoration: none;
}

